<!--html { 
  background: url(amazingscrollingbackground.jpg) no-repeat center; 
}-->

body {  background: url(amazingscrollingbackground.jpg) no-repeat center; 
	height: 10000px;
	width: 100%;
	margin-bottom: auto;
	overflow-x: hidden;
}

h1 {	 
	  font-family: 'Ubuntu Condensed', sans-serif;
          text-align: center;
	  color: black;
          font-size: 40px;
          letter-spacing: .5px;
          text-shadow: -2px 2px 2px #999999;
          line-height: 150%;
         
}li {font-family: 'Ubuntu Condensed', sans-serif;
    text-align: center;
    font-size: 12px
    
    
}


Footer {
	position: fixed;
        bottom: 0;
        left: 0;
        height: 70px;
        background-color: white;
        color: white;
        text-align: center;
        width: 100%;
        padding: auto;
        margin: auto;
}
    
    

 h1 {font-family: 'Ubuntu Condensed', sans-serif;
          text-align: center;
          font-size: 50px;
	  color: white;
          letter-spacing: .5px;
          text-shadow: -2px 2px 2px #999999;
          line-height: 150%;
         
}

 h1 {
    animation-duration: 3s;
    animation-name: fadeAndScale;
    
}

@keyframes fadeAndScale {
    from {
        opacity: -1;
        transform: scale(0, 0);
    }
    to {
        opacity: 1;
        transform: scale(1, 1);
    }
}

h3 {font-family: 'Ubuntu Condensed', sans-serif;
          text-align: center;
          font-size: 20px;
	  color: white;
          letter-spacing: .5px;
    }

h3 {
    animation-name: slideDown;
    -webkit-animation-name: slideDown;    

    animation-duration: 3s;
    
    -webkit-animation-duration: 3s;

    animation-timing-function: ease;    
    -webkit-animation-timing-function: ease;    

    visibility: visible !important;                        
}


@keyframes slideDown {
    0% {
        transform: translateY(-1000%);
    }
    50%{
        transform: translateY(8%);
    }
    65%{
        transform: translateY(-4%);
    }
    80%{
        transform: translateY(4%);
    }
    95%{
        transform: translateY(-2%);
    }            
    100% {
        transform: translateY(0%);
    }        
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-1000%);
    }
    50%{
        -webkit-transform: translateY(8%);
    }
    65%{
        -webkit-transform: translateY(-4%);
    }
    80%{
        -webkit-transform: translateY(4%);
    }
    95%{
        -webkit-transform: translateY(-2%);
    }            
    100% {
        -webkit-transform: translateY(0%);
    }    
}

#cloud {
    animation-name: slideRight;
    -webkit-animation-name: slideRight;
    position: absolute;
    overflow: hidden;

    animation-timing-function: ease-in-out;    
    -webkit-animation-timing-function: ease-in-out; 
    
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    
    animation-duration: 25s;
    -webkit-animation-duration: 25s;

    visibility: visible !important;
}
@-webkit-keyframes slideRight {
  0% {
    transform: translateX(-110%);
  }
  100% {
    transform: translateX(340%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-110%);
}
  100% {
    transform: translateX(340%);
  }
}

#cloud2 {
    animation-name: slideLeft;
    -webkit-animation-name: slideLeft;
    position: absolute;
    overflow: hidden;

    animation-timing-function: ease-in-out;    
    -webkit-animation-timing-function: ease-in-out; 
    
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    
    animation-duration: 24s;
    -webkit-animation-duration: 24s;

    visibility: visible !important;
}
@-webkit-keyframes slideLeft {
  0% {
    transform: translateX(340%);
  }
  100% {
    transform: translateX(-110%);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(340%);
}
  100% {
    transform: translateX(-110%);
  }
}
